.promo
    position: relative
    padding-bottom: 50px
    background: url('../img/cetka.png') $dark no-repeat center / cover
    padding-top: 160px
    margin-top: -153px
    z-index: 1
    &-block
        &__text
            padding-top: 95px
            width: 560px
    &-title
        position: relative
        font-size: 64px
        line-height: 111%
        &__img
            position: relative
            left: 244px
            top: -152px
    &-button
        position: relative
        top: -50px
